{% extends 'gala/base.html' %}
{% block title %}{% if form.instance.pk %}Modifier le club{% else %}Ajouter un club{% endif %}{% endblock %}

{% block content %}
<h1 class="text-danger mb-4">{% if form.instance.pk %}Modifier le club{% else %}Ajouter un club{% endif %}</h1>

<form method="post" enctype="multipart/form-data" class="col-md-6">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a href="{% url 'gala:liste_clubs' %}" class="btn btn-secondary">Annuler</a>
</form>
{% endblock %}